$colors: (
    primary: rgb(50, 140, 241),
    menuItem: rgba(255, 255, 255, 0.6),
    menuItemHover: rgba(255, 255, 255, 1),
    mainText: rgba(255, 255, 255, 0.9),
    appointment: rgb(83, 83, 238)
);


$menuFont: 'Raleway';
$mainFont: 'Tahoma';

@function color($colorname) {
    @return map-get($colors, $colorname)
}

body {
    background-color: color(primary);
}

.navbar {
    a {
    font-family: $menuFont, sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    text-decoration: none;
    color: color(menuItem);
    }
    a:hover {
        color: color (menuItemHover);
    }
}

.main a {
    text-decoration: none;
    font-family: $mainFont, sans-serif;
    color: color(mainText);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    li {
        display: inline-block;
        vertical-align: middle;
    }
}

.menu-item {
    width: 12em;
    margin: 1em; 
}

.main {
    text-align: center;
    font-family: $mainFont, sans-serif;
    color: color(mainText);
    margin-left: 1em;
    padding: 1em;
    display: flex;
    
    img {  
        border-radius: 15px;
    }
}

#plan {
    width: 15em;
    height: 4em;
    background-color: color(appointment);
    border-radius: 15px;
    margin: 10em 8em;
    padding: 20px 0px 0px 0px;
}


